<%- include('../partials/header') %> <% if (banner) { %>
<section
  class="banner"
  style="background-image: url('<%= banner.backgroundUrl%>')"
>
  <%= banner.title %>
</section>

<% } %> <% if (titlePage) { %>
<h2><%= titlePage %></h2>
<% } %>

<div class="container list">
  <% list.forEach(function(pet){ %>
  <div class="item">
    <img src="/images/<%= pet.image %>" class="item--image" />
    <div class="item--name"><%= pet.name %></div>
    <div class="item--color">Cor: <%= pet.color %></div>
    <div class="item--genre">Gênero: <%= pet.sex %></div>
  </div>
  <% }); %>
</div>
<%- include('../partials/footer') %>
