<%- include('../partials/header') %> 


<div class="container list">
  <a href="/get-pet/<%= pet.id %>" target="">
    <div class="item">
      <img src="/images/<%= pet.image %>" class="item--image" />
      <div class="item--name"><%= pet.name %></div>
      <div class="item--color">Cor: <%= pet.color %></div>
      <div class="item--genre">Gênero: <%= pet.sex %></div>
    </div>
  </a>
</div>


<div class="container no-list">
  <h2>O pet não encontrado/h2>
</div> 
<%- include('../partials/footer') %>
